.rating-input {
  position: absolute;
  left: -9999px;
}

.rating-input--none {
  display: none;
}

.rating-label {
  cursor: pointer;
  padding: 0 0.1em;
  font-size: 2rem;
}

.rating-icon {
  --current-color: var(--primary-100);

  width: 2rem;
  height: 2rem;
  display: inline-block;
  pointer-events: none;

  &:hover {
    --current-color: var(--primary-100);
  }
}

.rating-input:checked ~ .rating-label .rating-icon {
  --current-color: var(--white-100);
}

#stars-rating:hover label .rating-icon {
  --current-color: var(--primary-100);
}

.rating-input:hover ~ .rating-label .rating-icon {
  --current-color: var(--white-100);
}
